*{
  font-family: Noto Sans CJK KR Bold;
  box-sizing: border-box;
}
.Layout{
  background-color:#f4f4f4;
}
#menu_footer{
  margin-top: 90px;
  background-color:#f4f4f4;
}

#menu_container {
  width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}
.pizza_container{
  display: flex;
  justify-content: space-between;
}
.kategorie_bar{
  width: 1200px;
  height: 70px;
  color: #ccc;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-bottom: 50px;
  margin-top: 15px;
}


.kategorie_bar tr {
  text-align: center;

  line-height: 68px;

}
.kategorie_bar tr td{
  width: 20%;
  height: 70px;
  border: 1px solid  #ccc;
  cursor: pointer;
  background-color: white;
}
.kategorie_bar td.selected {
  background-color: #41b6E6;
  color: #fff;
}
.lable_container{
  display: flex;
  margin-bottom: 60px;
}
.spaceEmpty{
  width: 900px;
}
label{
  display: block;

}
label select{
  display: block;

  border: 1px solid #ccc;
  width: 300px;
  height: 70px;
  border-radius: 0;
  margin: 30px 0 30px 0;
  line-height: 35px;


  background-size: 11px 7px;
  background-position-x: calc(100% - 15px);
}

.pizzaMenu {
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 590px;
  max-height: 240px;
}

.pizzaMenu .explane{
  padding-left: 20px;
  margin-top: 30px;
  min-width: 270px;
  font-size: 30px;
  margin-right: 30px;
}
.info_header{
  height: 90px;
}
.pizzaMenu .explane .pizza_title{
  margin-top: 10px;
  margin-bottom: -30px;
  font-size: 24px;

}
.pizzaMenu .explane h6{
  color: grey;
  font-size: 18px;

}
.pizzaMenu .explane .price_set{
  display: flex;

}
.pizzaMenu .explane .price{
  display: flex;
  font-size: 30px;
  margin-top: -30px;


  justify-content: space-between;
}
.price h5:nth-child(2) {
  margin-right: 20px; /* 원하는 만큼의 간격 설정 */

}

.pizzaMenu .explane .price .large{
  color :#41b6E6;

  font-weight: bold;
}
.pizzaMenu .explane .price .cost{
  font-weight: bold;
  margin-left: 10px;
}
.pizzaMenu .explane .metarials{
  display: flex;
  justify-content: space-between;

}
.pizzaMenu .explane .metarial{
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 40px;
  min-width: 80px;
  margin-top: -30px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  line-height: 40px;
}
.pizzaMenu img{
  max-width: 276px;
  display: inline-block;
  margin-right: 30px;
}
.pizzaMenu:hover .link{
  display: flex;
}
.link{
  display: none;
  position: absolute;
  top: 0;
  width: 590px;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}
.link img{
  width: 20px;
  height: 20px;
  margin: 16px 0px 16px;
  background-color: transparent;

}
.link .info{
  justify-content: center;

  display: flex;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  line-height: 52px;
  border: 1px solid #41b6E6;
  color:#41b6E6;
  height: 50px;
  width: 100px;
  border-radius: 15px;

}
.info:hover {
  background-color: #41b6E6;
  color: white;
}
.link .cart{
  justify-content: center;

  display: flex;
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0);
  line-height: 52px;
  border: 1px solid #41b6E6;
  color:#41b6E6;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}
.cart:hover{
  background-color: #41b6E6;
  color: white;
}
.link .goto{
  display: flex;
  width: 250px;
  justify-content: space-between;
  background-color: transparent;
}