.Ordercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Orderinforcontainer {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .inform {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  
  .title {
    font-weight: bold;
  }
  
  .inner {
    color: #333;
  }
  
  span {
    color: #999;
  }
  #sjreviewbtn{
    
  }
  